<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flook-app</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4231/4231635.png" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&amp;subset=latin,devanagari'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="./active.css">
</head>



<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <div id="toast"></div>
  <header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
      <div class="col s12">
        <ul>
          <li style="margin: 10px"><img src="https://cdn-icons-png.flaticon.com/512/4231/4231635.png" width="30px"
              alt=""></li>
          <li class="title">Flook-server</li>
        </ul>
        <ul class="right">
          <li class="right" onclick="showSuccessToast();" >
            <a class="fa-solid fa-database fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
          <li class="right">
            <a href="https://www.facebook.com/fishryanie/" target="_blank"
              class="fa fa-facebook-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
          <li class="right">
            <a href="https://github.com/fishryanie" target="_blank"
              class="fa fa-github-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">
      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-lighten-3">Forgot password</h1>
      <blockquote class="flow-text">Enter your new password.</blockquote>
      
      <div class="input animation">
        <input id="url" type="password" placeholder="password">
      </div>

      <div class="input animation">
        <input id="url" type="password" placeholder="password confirm">
      </div>
      <div style="text-align: left; margin-top: 30px">
        <a class="btn" id="execute">Execute</a>
      </div>

    </span>
  </main>
    <ul class="squares"></ul>
    <footer class="page-footer deep-purple darken-3">
      <div class="footer-copyright deep-purple darken-4">
        <div class="container">
          <time datetime="site.time | date: '%Y'">&copy; 2022 Hồng Quân</time>
        </div>
      </div>
    </footer>
  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
  
  <script>
    // Background squares
    const ulSquares = document.querySelector("ul.squares")
    for (let i = 0; i < 11; i++) {
      const li = document.createElement("li");
      const random = (min, max) => Math.random() * (max - min) + min
      const size = Math.floor(random(10, 120));
      const position = random(1, 99);
      const delay = random(5, 0.1);
      const duration = random(24, 12);
      li.style.width = `${size}px`
      li.style.height = `${size}px`
      li.style.bottom = `-${size}px`
      li.style.left = `${position}%`;
      li.style.animationDelay = `${delay}s`
      li.style.animationDuration = `${duration}s`
      li.style.animationTimingFunction = `cubic-bezier(${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, )`
      ulSquares.appendChild(li);
    }
  </script>

  <script>
    // Toast
    function showSuccessToast(message, type) {
      toast({
        title: "Success !",
        message: message,
        type: type,
        duration: 5000
      });
    }
    function toast({ title = "", message = "", type = "info", duration = 3000 }) {
      const main = document.getElementById("toast");
      if (main) {
        const toast = document.createElement("div");

        // Auto remove toast
        const autoRemoveId = setTimeout(function () {
          main.removeChild(toast);
        }, duration + 1000);

        // Remove toast when clicked
        toast.onclick = function (e) {
          if (e.target.closest(".toast__close")) {
            main.removeChild(toast);
            clearTimeout(autoRemoveId);
          }
        };

        const icons = {
          success: "fas fa-check-circle",
          info: "fas fa-info-circle",
          warning: "fas fa-exclamation-circle",
          error: "fas fa-exclamation-circle"
        };
        const icon = icons[type];
        const delay = (duration / 1000).toFixed(2);

        toast.classList.add("toast", `toast--${type}`);
        toast.style.animation = `slideInLeft ease .3s, fadeOut linear 1s ${delay}s forwards`;

        toast.innerHTML = `
          <div class="toast__icon">
              <i class="${icon}"></i>
          </div>
          <div class="toast__body">
              <h3 class="toast__title">${title}</h3>
              <p class="toast__msg">${message}</p>
          </div>
          <div class="toast__close">
              <i class="fas fa-times"></i>
          </div>
        `;
        main.appendChild(toast);
      }
    }
  </script>

</body>

</html>