<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flook-app</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4231/4231635.png" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&amp;subset=latin,devanagari'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/css/index.css">
</head>



<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <div id="toast"></div>
  <header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
      <div class="col s12">
        <ul>
          <li style="margin: 10px"><img src="https://cdn-icons-png.flaticon.com/512/4231/4231635.png" width="30px"
              alt=""></li>
          <li class="title">Flook-server</li>
        </ul>
        <ul class="right">
          <li class="right" onclick="showSuccessToast();" >
            <a class="fa-solid fa-database fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
          <li class="right">
            <a href="https://www.facebook.com/fishryanie/" target="_blank"
              class="fa fa-facebook-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
          <li class="right">
            <a href="https://github.com/fishryanie" target="_blank"
              class="fa fa-github-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">
      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-lighten-3">Forgot password</h1>
      <blockquote class="flow-text">Enter your new password.</blockquote>
      
      <div class="input animation">
        <input id="url" type="password" placeholder="password">
      </div>

      <div class="input animation">
        <input id="url" type="password" placeholder="password confirm">
      </div>
      <div style="text-align: left; margin-top: 30px">
        <a class="btn" id="execute">Execute</a>
      </div>

    </span>
  </main>
    <ul class="squares"></ul>
    <footer class="page-footer deep-purple darken-3">
      <div class="footer-copyright deep-purple darken-4">
        <div class="container">
          <time datetime="site.time | date: '%Y'">&copy; 2022 Hồng Quân</time>
        </div>
      </div>
    </footer>
  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
  <script src="../js/active.js"></script>
  

</body>

</html>